.product {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.product__container {
  display: flex;
  gap: 3rem;
}

.product__seller {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-username {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
  }

  &-location {
    margin-top: -.5rem;
  }
}

.product__box{
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product__seller-img {
  border: solid 0.1rem $gray;
  border-radius: 50%;
}

.product__seller-details {
  display: flex;
  flex-direction: column;
}


.product__seller-activity {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.1rem;
  align-items: center;

  span {
    font-size: 1.4rem;
    color: black;
    padding-left: .5rem;
  }
}

.product__icons {
  display: flex;
  gap: 1.2rem;

  &--pay {
    max-width: 100%;
    margin: 0 auto;
  }
}

.product__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.product__protection {
  display: flex;
  background-color: #f1f1f1;
  gap: 2.2rem;

  &-icon {
    padding: 3rem 0 3rem 3rem;
  }

  &-banner {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 1rem;
  }
  &-banner a {
    color: $blue;
  }
}

.product__details {
  margin-top: -1rem;
}

.product__likes-count {
  font-size: 1.3rem;
}

.product__information {
  font-size: 1.6rem;
  margin-top: -1.2rem;

  p {
    margin-bottom: .5rem;
  }
}

.query-card {
  margin-bottom: 2rem;
}

.products__description {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
}

.products__price {
  font-weight: bold;

}

.product__sold {
  background-color: yellow;
  color: $light-black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}
