<footer class="footer">
  <div class="footer__left-section">
    <ul class="footer__links">
      <a href="">Sustainability</a>
      <a href="#">Blog</a>
      <a href="#">About</a>
      <a href="#">Sell on Depop</a>
      <a href="#">Jobs</a>
      <a href="#">News</a>
      <a href="#">Support</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Safety</a>
      <a href="#">Sitemaps</a>
      <a href="#">Cookies</a>
    </ul>
  </div>

  <div class="footer__icons">
    <i class="fa-brands fa-instagram" id="icon--footer"></i>
    <i class="fa-brands fa-twitter" id="icon--footer"></i>
    <i class="fa-brands fa-facebook-f" id="icon--footer"></i>
    <i class="fa-brands fa-tiktok" id="icon--footer"></i>
  </div>


</footer>
