a:link,
a:visited {
  text-decoration: none;
  color: $light-black;
}

a:active {
  color: $light-black;
}


.btn {
  width: 100%;
  padding: .6rem 0;
  background-color: $light-black;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0;

  &:hover {
    background-color: rgb(54, 54, 54);
    color: white;
  }
}



.btn--like,
.btn--unlike,
.btn--bookmark,
.btn--unbookmark {
 border: none;
 padding: 0;
 background-color: transparent;
}

.btn--like:active,
.btn--unlike:active,
.btn--bookmark:active,
.btn--unbookmark:active {
 border: none;
 padding: 0;
}


.btn--like:hover,
.btn--unlike:hover,
.btn--bookmark:hover,
.btn--unbookmark:hover {
 border: none;
 padding: 0;
 background-color: transparent;
}




.btn--follow {
  width: 13rem;
  background-color: rgb(41, 96, 175);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;

  &:hover, :active {
    background-color: rgb(41, 96, 175);
    color: white;
  }
}



.btn--following {
  width: 13rem;
  background-color: rgb(38, 109, 28);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;

  &:hover {
    background-color: rgb(38, 109, 28);
    color: white;
  }

  &:active {
    background-color: rgb(38, 109, 28);
    border: solid .1rem yellow;
    color: white;
  }

}





.btn--banner {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(253, 253, 253);
  border: solid .2rem black;
  color: black;


  &:hover {
    background-color: rgb(241, 241, 241);
    border: solid .2rem $black;
    color: black;
  }

  &:active {
    background-color: rgb(241, 241, 241);
    color: black;
  }
}

.btn--shop-now {
  width: 30%;
}

.btn--login {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;

  &:hover {
    background-color: transparent;
    color: black;
  }
}

.btn--sign-up {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: $light-black;
  color: white;
  border-radius: 0;
  padding: .5rem 1rem;
}
